@mixin color-box($color){
  height: 200px;
  background-color:$color;
}
.col-1{
  height: 100px;
  transition: all 1s;
}
.c-ch{
  animation-name: pappam;
  animation-duration: 0.5s;
  animation-iteration-count: 2;
}

.main-box{
  width: 100%;
  height: 1000px;
}
@keyframes pappam {
  0%{
    scale: 1;
  }
  25%{
  }
  50%{
    border-radius: 100%;
    scale: 0.1;
  }
  75%{

  }
  100%{
    scale: 1;
    border-radius: 0px;
  }
}
