div{
  box-sizing: border-box;
}
.white-box {
  border-top:0.3px solid #eee;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0.5px 3px 2px 1px black;
  margin: 5px;
}
.white-box-v2 {
  border: 1px #eee solid;
  background: white;
  padding: 20px;
  margin: 5px;
}
.a{
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height:120px;
}
.container{
  width: 100%;
  margin: none;
}
.name{
  height:50px;
}
.btn-score{
  position:fixed;
  top:5%
}